<.simple_form :let={f} for={@changeset} action={@action}>
  <.error :if={@changeset.action}>
    Oops, something went wrong! Please check the errors below.
  </.error>
  <.input field={f[:name]} type="text" label="Name" />
  <.input field={f[:desc]} type="text" label="Desc" />
  <.input field={f[:price]} type="text" label="Price" />
  <.input field={f[:photo]} type="text" label="Photo" />
  <:actions>
    <.button>Save Product</.button>
  </:actions>
</.simple_form>
